@font-face {
  font-family: 'Glacial Indifference';
  src: url('./fonts/GlacialIndifference.otf') format('otf')
}
#root {
  font-family: Glacial Indifference;
}
.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}

.body, .body-title, .blog, .blog-title, .projects, .projects-title, .contact, .contact-title, .resume, .resume-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92.5%;
  margin-left: 20%;
  width: 60%;
}

.body-title, .blog-title, .projects-title, .resume-title {
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}
.project-name, p.site-welcome {
  border-bottom: 2px solid black;
  border-left: 3px solid black;
  padding-bottom: 5px;
  width: 21%;
  display: flex;
  justify-content: center;
}
p.site-welcome {
  height: 3%;
  font-size: 20px;
  width: 10%;
  position: absolute;
  left: 20%
}
.extras {
  margin-right: 115px;
  width: 40%;
  background-color: white;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
a {
  color: gray;
  text-decoration: none;
}
.list {
  display: flex;
  align-content: center;
  justify-content: space-around;
  width: 75%;
}
p#home-link,p#project-link, p#blog-link, p#contact-link, p#resume-link {
  cursor: pointer;
}
.name {
  margin-left: 225px;
  border: 3px solid black;
  font-size: 30px;
}
.clicked {
  border-bottom: 2px solid black;
  border-left: 3px solid black;
  padding-bottom: 2px;
  padding-left: 4px;
}
.first {
  margin-left: 3px;
}
.last {
  margin-right: 3px;
}
.projects {
  position: absolute;
  display: grid;
  top: 160%;
}
.projects-title {
  position: absolute;
  top: 150%;
  height: 50px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10%;
}
.project-notes {
  position: relative;
}
.home {
  position: absolute;
  width: 75%;
  height: 75%;
  display: flex;
  justify-content: center;
  margin-left: 12%;
}
.self {
  margin-top: 8%;
  position: absolute;
  min-width: 40%;
  min-height: 63%;
  background-size: cover;
  border-radius: 2%;
  border: 2px solid black;
}
#language {
  width: 185px;
  height: 175px;
  background-position: center;
  background-size: cover;
}
.css3 {
  background-image: url('./images/css3.png');
}
.html5 {
  background-image: url('./images/html5.png');
}
.javascript {
  background-image: url('./images/javascript.png');
  margin-right: 20px;;
}
.postgres {
  background-image: url('./images/postgres.png');
}
.rails {
  background-image: url('./images/rails.png');
}
.react {
  background-image: url('./images/react.png');
  margin-left: 15px;
}
.redux {
  background-image: url('./images/redux.png');
}
.ruby {
  background-image: url('./images/ruby.png');
  padding: 0px 0px 0 5px;
}
.skills {
  position: absolute;
  display: flex;
  top: 157%;
  width: 95%;
  padding-bottom: 20px;
}
.welcome-message {
  position: absolute;
  top: 80%;
  width: 50%;
  font-size: 30px;
  border-bottom: 2px solid black;
  border-left: 3px solid black;
  padding: 0 0 10px 10px;
}
a#blog-link {
  margin-top: 3%;
}