.header, .footer {
  position: relative;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body {
  position: absolute;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92.5%;
  width: 98.6%;
  margin: 10px 0px 10px 0px
}
.footer {
  position: absolute;
  bottom: 0%;
  width: 98.6%;
  margin-bottom: 6px;
}