.header, .footer {
  position: relative;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.body {
  position: absolute;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92.5%;
  width: 99%;
  margin: 10px 0px 10px 0px
}
.list {
  margin-right: 20px;
}
.hamburger-react {
  margin-left: 20px;
}